       <h3>Agregar {{name()}} {{poder()}} </h3>
            <input 
            type="text" 
            name="" 
            id="" 
            placeholder="Nombre" 
            class="form-control" 
            [value]="name()" 
            (change)="name.set(txtName.value)" 
            (input)="name.set(txtName.value)" #txtName>

            <input 
            type="number" 
            name="" 
            id=""
            placeholder="Poder" 
            class="form-control" 
            [value]="poder()" 
            (change)="poder.set(+txtPoder.value)" 
            (input)="poder.set(+txtPoder.value)" #txtPoder>
            
            <button 
            type="button" 
            class="btn btn-primary" (click)="addCharacter()">Agregar</button>